<%- include ../partials/header.ejs %> 
<%- include ../partials/navbar.ejs %>
<main>
    <div class="contact-list-container">
        <h2>Business Contact List</h2>
       
        <table class="contact-table ">
           <a href="contact-list/add"><button class="tooltip" >+<span class="tooltiptext">Add new contact</span></button></a> 
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Phone Number</th>
                    <th class="text-center">Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                    <% contactList.forEach((contact) => { %>
                        <tr>
                        <td><%= contact.name %></td>
                        <td><%= contact.number %></td>
                        <td><%= contact.email %></td>
                        <td><a href="./contact-list/update/<%= contact._id%>" class="btn btn-secondary">Edit</a></td>
                        <td><a href="./contact-list/delete/<%= contact._id %>" class="btn btn-danger">Delete</a></td>
                        </tr>
                    <% }); %>
                
            </table>
            <br>
    </div>
</main>
<%- include ../partials/footer.ejs %>